* {
	margin: 0;
	padding: 0;
}

body {
	padding: 0 0 0 10px;
	font-family: 'Avenir';
	text-align: center;
	background-color: black;
}

#title {
	color: white;
}

a {
	text-decoration: underline;
	color: white;
}

.header {
	height: 80px;
}

.main {
	position: relative;
	width: 900px;
	margin: auto;
	border: 1px white solid;
	padding: 10px 10px 10px 10px;
}

.display {
	width: 500px;
	background-color: black;
}

#boxes li {
	position: relative;
	width: 90px;
	height: 48px;
	border: 1px white solid;
	list-style: none;
}

#boxes li p {
	position: absolute;
	top: 4px;
	margin-left: 5px;
	color: red;
	font-size: 30px;
	font-family: 'Avenir';
}

#value {
	left: 25px;
}

#boxes li button {
	position: absolute;
	left: 60px;
	width: 20px;
	height: 20px;
	background-color: black;
	border: 1px white solid;
	border-radius: 15px;
	color: white;
	font-size: 10px;
}

.inc {
	top: 3px;
}

.deb {
	top: 24px;
}

.input {
	position: absolute;
	top: 10px;
	right: 10px;
	border: 1px solid white;
	width: 400px;
	height: 500px;

}

.input button {
	position: absolute;
	bottom: 5px;
	width: 100px;
	height: 30px;
	font-size: 15px;
}

#play_btn {
	left: 38px;
}

#reset_btn {
	left: 148px;
}

#step_btn {
	left: 258px;
}

#cmd_input {
	resize: none;
	margin: 10px 0 0 0;
	width: 370px;
	height: 447px;
}

